.heroAnnouncements {
  background-color: rgb(25, 28, 36);
  border: 3px solid rgb(255, 193, 23);

  margin: 15px;
  margin-top: 25px;
  margin-bottom: 25px;

  padding-bottom: 30px;
}

#heroRightTitle {
  color: white;
  font-size: 60px;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 30px;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.announcement {
  color: white;
  font-size: 20px;
  line-height: 1.7;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  margin-left: 15px;
  margin-right: 15px;

  padding-left: 25px;
  position: relative;
}

/* bullet points */
.announcement::before {
  content: "•";

  position: absolute;
  left: 0;
  top: 24px;

  color: white;
  font-size: 25px;
}

.announcement-link-external {
  color: rgb(194, 46, 46);
  text-decoration: underline !important;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: color 300ms ease-in-out;
}

.announcement-link-internal {
  color: rgb(219, 193, 46);
  text-decoration: underline !important;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: color 300ms ease-in-out;
}

.announcement-link-external:hover {
  color: rgb(219, 193, 46);
}

.announcement-link-internal:hover {
  color: rgb(194, 46, 46);;
}

.announcement-date {
  color: rgb(180, 180, 180);
  font-size: 14px;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 5px;
}

@media screen and (max-width: 960px) {
  #heroRightTitle {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .announcement {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .announcement {
    font-size: 16px;
  }
}
