.ToolsItems {
  display: grid;
  /* grid-template-columns: 1fr 2.5fr 1fr; */
  grid-template-columns: 1fr;
}

.ToolsWrapper {
  background: linear-gradient(
    -140deg,
    rgb(213, 255, 158) 12%,
    rgb(255, 255, 255) 0%
  );
  /* background-color: rgb(247, 247, 247); */
  height: 110vh;
  width: 60%;
  justify-self: center;
}

.ToolsTitle {
  font-size: 70px;
  margin: 60px 40px 0px 50px;
  /* font-family: "Montserrat"; */
  font-family: "Typold", sans-serif;
  font-family: "Typold Condensed", sans-serif;
  font-family: "Typold Extended", sans-serif;
  text-align: left;
  font-weight: 300;
}

.ToolsSubHeader {
  color: grey;
  opacity: 80%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "Nexa", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.ToolsSection {
  border-color: rgb(100, 175, 97);
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  padding: 25px;
  display: block;
  justify-self: center;
  /* width: 40%; */
  text-align: center;
  margin-left: 270px;
  margin-right: 270px;
}

.ToolsListTitle {
  font-family: "Nexa", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 20px 0px 30px 0px;
}

.ToolsLinkWrapper {
  display: grid;
  grid-template-areas:
    "ToolLink1 ToolD1"
    "ToolLink2 ToolD2"
    "ToolLink3 ToolD3"
    "ToolLink4 ToolD4";
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 25px;
}

.ToolsLink {
  font-size: 18px;
  font-family: "Montserrat";
  color: black;
  border-bottom: 1px solid rgb(122, 122, 122);
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-weight: 600;
  justify-self: center;
}

.ToolDescription {
  font-size: 15px;
  font-family: "Montserrat";
  color: black;
}

#ToolLink1 {
  grid-area: ToolLink1;
}
#ToolLink2 {
  grid-area: ToolLink2;
}
#ToolLink3 {
  grid-area: ToolLink3;
}
#ToolLink4 {
  grid-area: ToolLink4;
}
#ToolD1 {
  grid-area: ToolD1;
}
#ToolD2 {
  grid-area: ToolD2;
}
#ToolD3 {
  grid-area: ToolD3;
}
#ToolD4 {
  grid-area: ToolD4;
}

.ToolsLink:hover {
  color: grey;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease;
}

.articlePostDescription {
  text-align: left;
  line-height: 2;
  font-size: 18px;
  font-family: "Nexa", sans-serif;
  margin: 30px 50px 0px 50px;
  font-weight: 600;
}

@media only screen and (max-width: 770px) {
  .ToolsWrapper {
    height: 180vh;
    width: 100%;
    background: linear-gradient(
      -140deg,
      rgb(213, 255, 158) 9%,
      rgb(255, 255, 255) 0%
    );
  }

  .ToolsSection {
    border-color: rgb(100, 175, 97);
    border-width: 2px;
    border-style: dashed;
    border-radius: 5px;
    padding: 25px;
    display: block;
    justify-self: center;
    width: 90%;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
  }

  .ToolsTitle {
    font-size: 40px;
  }

  .ToolsSubHeader {
    font-size: 18px;
  }

  .ToolsListTitle,
  .ToolsFirst {
    font-size: 26px;
  }

  .ToolsLink {
    font-size: 17px;
  }

  .articlePostDescription {
    font-size: 15px;
  }

  .ToolsSection {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .ToolsWrapper {
    height: 250vh;
    background: linear-gradient(
      -140deg,
      rgb(213, 255, 158) 15%,
      rgb(255, 255, 255) 0%
    );
  }

  .ToolsHow,
  .ToolsFirst {
    font-size: 17px;
  }

  .ToolsLink {
    font-size: 12px;
  }

  .ToolsSection {
    border-width: 2px;
    border-style: dashed;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    width: 90%;
    justify-content: center;
  }

  .ToolsFirstWrapper {
    margin-right: 25px;
  }

  .ToolsHowWrapper {
    margin-left: 25px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .ToolsWrapper {
    height: 160vh;
    width: 80%;
  }

  .ToolsSection {
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
  .ToolsWrapper {
    height: 150vh;
    width: 80%;
  }

  .ToolsSection {
    margin-left: 150px;
    margin-right: 150px;
  }
}
