.heading {
  position: relative;
  height: 71vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-image {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;

  z-index: -1;
}

.heading-text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 100px;
  text-shadow: 3px 3px 10px black;

  transform: translateY(80px); /* adjust this value */
}
.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 3px 3px 5px black;
  margin-top: 200px;
  font-size: 40px;
}

.titleFF,
.titlePP {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 40px;
  margin-top: 45px;
}

.team-slider {
  margin: 50px auto;
  padding-top: 40px;
  width: 100%;
  max-width: 1200px;
}

.carousel {
  max-width: 1400px;
  width: calc(100% - 80px);

  margin: 0 auto;

  background-color: rgb(26, 27, 36);
  padding: 45px 40px;

  border-radius: 25px 25px 0 0;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background: #12121d;
  width: 40px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: #363655;
}

.carousel .slick-prev {
  left: 0;
}

.carousel .slick-next {
  right: 0;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}


.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #2d2d36; /* change this */
  border-radius: 20px;
  margin-bottom: -20px;
  padding-top: 10px;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


h3 {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 25px;
  color: white;
}


.picture {
  border-radius: 10px;
  width: 320px;
  height: 380px;
  object-fit: cover;
  max-width: 90%;
}


.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}


.sliderDescription {
  font-size: 20px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 60px;
  max-width: 320px;
}


.slick-slide > div {
  display: flex;
  justify-content: center;
}

hr {
  border: none;
  border-top: 2px dashed #757580;
  height: 2px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* Mobile */
@media only screen and (max-width: 770px) {

  .title,
  .titleFF,
  .titlePP {
    font-size: 25px;
  }


  .picture {
    width: 170px;
    height: 210px;
  }


  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    width: 30px;
    height: 55px;
  }


  .sliderDescription {
    font-size: 15px;
    max-width: 220px;
  }

}