.hr2 {
  width: 100%;
  border: none;
  /* border-top: 2px solid #25253d; */
  background-color: rgb(63, 63, 94);
  height: 5px;
  width: 100%;
  margin: 20px 0px -40px 0px;
}

.specsItems {
  display: grid;
  grid-template-areas: "specsWrapper";
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
}

.specsWrapper {
  /* background-color: rgb(247, 247, 247); */
  background: linear-gradient(
    -140deg,
    rgb(255, 178, 126) 12%,
    rgb(255, 255, 255) 0%
  );
  height: 90vh;
  width: 60%;
  justify-self: center;
}

.specsTitle {
  font-size: 50px;
  margin: 60px 40px 0px 50px;
  /* font-family: "Montserrat"; */
  font-family: "Typold", sans-serif;
  font-family: "Typold Condensed", sans-serif;
  font-family: "Typold Extended", sans-serif;
  text-align: left;
  font-weight: 300;
}

.specsSubHeader {
  color: grey;
  opacity: 80%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "Nexa", sans-serif;
  font-size: 23px;
}

#revWebsite {
  color: rgb(255, 115, 0);
  text-decoration: underline;
}

#gobWebsite {
  color: rgba(255, 217, 0, 0.911);
  text-decoration: underline;
}

.specsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "revMotors gobMotors"
    "revSensors devCon";

  width: 100%;
  height: 50vh;
  text-align: center;

  grid-gap: 1rem;
  padding: 15px;

  /* text-align: left;
  margin-left: 50px; */
}

#revMotors {
  grid-area: "revMotors";
  border: 2px solid rgb(63, 63, 94);
}
#revSensors {
  grid-area: "revSensors";
  border: 2px solid rgb(63, 63, 94);
}
#gobMotors {
  grid-area: "gobMotors";
  border: 2px solid rgb(63, 63, 94);
}
#devCon {
  grid-area: "devCon";
  border: 2px solid rgb(63, 63, 94);
}

.revgob {
  font-family: "Nexa", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

.specsLinkWrapper {
  margin-top: 10px;
}

.specsLink {
  font-size: 18px;
  font-family: "Montserrat";
  color: black;
  border-bottom: 1px solid rgb(122, 122, 122);
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-weight: 400;
}

.specsLink:hover {
  color: grey;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease;
}

@media only screen and (max-width: 770px) {
  .specsWrapper {
    height: 180vh;
    width: 100%;
    background: linear-gradient(
      -140deg,
      rgb(255, 178, 126) 7%,
      rgb(255, 255, 255) 0%
    );
  }

  .specsTitle {
    font-size: 35px;
    margin: 0px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .specsSubHeader {
    text-align: center;
    font-size: 15px;
    margin: 0px;
  }

  .revgob {
    font-size: 20px;
  }

  .specsLinkWrapper {
    margin-bottom: 20px;
  }

  .specsLink {
    font-size: 15px;
  }

  .specsSection {
    grid-template-areas:
      "revMotors"
      "gobMotors"
      "revSensors"
      "devCon";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .specsWrapper {
    height: 200vh;
    background: linear-gradient(
      -140deg,
      rgb(255, 178, 126) 12%,
      rgb(255, 255, 255) 0%
    );
  }

  .revgob {
    font-size: 20px;
  }

  .specsLink {
    font-size: 12px;
  }

  .specsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "revMotors gobMotors"
      "revSensors devCon";

    /* width: 80%; */
    height: 50vh;
    text-align: center;
    grid-gap: 1rem;
    padding: 15px;
    /* text-align: left;
    margin-left: 50px; */
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .specsWrapper {
    height: 115vh;
    width: 80%;
  }

  .specsLink {
    font-size: 16px;
  }

  #revMotors,
  #revSensors,
  #gobMotors,
  #devCon {
    padding-bottom: 40px;
  }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
  .specsWrapper {
    height: 115vh;
    width: 80%;
  }

  #revMotors,
  #revSensors,
  #gobMotors,
  #devCon {
    padding-bottom: 40px;
  }
}
