.articleItems {
  display: grid;
  /* grid-template-columns: 1fr 2.5fr 1fr; */
  grid-template-columns: 1fr;
}

.articleWrapper {
  background-color: rgb(247, 247, 247);
  height: 120vh;
  width: 60%;
  justify-self: center;
}

.leftspace {
  /* background-color: rgb(243, 243, 243); */
  background-color: rgb(247, 247, 247);
}

.rightspace {
  /* background-color: rgb(243, 243, 243); */
  background-color: rgb(247, 247, 247);
}

.articlePostTitle {
  font-size: 50px;
  margin: 60px 40px 0px 50px;
  font-family: "Nexa", sans-serif;
  font-weight: bolder;

  text-align: left;
}

.articlePostSubHeader {
  color: grey;
  opacity: 80%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "Nexa", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.articleCredits {
  color: rgb(0, 0, 0);
  display: flex;
}

.articleInfo {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

#name {
  margin-left: 50px;
  font-family: "Nexa", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

#date {
  margin-left: 10px;
  font-family: "Nexa", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

#separator {
  font-size: 22px;
  margin-left: 10px;
  font-family: "Nexa", sans-serif;
  font-weight: 800;
}

.articlePostImage {
  margin-left: 50px;
}

.articlePostDescription {
  text-align: left;
  line-height: 2;
  font-size: 18px;
  font-family: "Nexa", sans-serif;
  margin: 30px 50px 0px 50px;
  font-weight: 600;
}

#articleEngineeringDay {
  height: 120vh;
}

#articleRobotMall {
  height: 105vh;
}

#articleTrailblazers {
  height: 170vh;
}

#articlePPKickoff {
  height: 265vh;
}

#articleCatFamDay {
  height: 220vh;
}

.instaEmbedCatFamDay {
  height: 100vh;
  width: 50%;
}

.articlePostImageMall {
  margin-left: 50px;
  height: 40vh;
  width: 55vh;
}

.articlePostImagePLTW {
  margin-left: 50px;
  height: 35vh;
  width: 50vh;
}

.engineerDayVideoLink {
  font-family: "Nexa", sans-serif;
}

.PPKickOffArticleYT {
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .articleWrapper {
    height: 260vh;
    width: 100%;
  }

  .articlePostTitle {
    /* font-size: 40px; */
  }

  .articlePostDescription {
    font-size: 15px;
  }

  #articleEngineeringDay {
    height: 210vh;
  }

  #articleRobotMall {
    height: 192vh;
  }

  #articleTrailblazers {
    height: 210vh;
  }

  .articlePostImageMall {
    margin-left: 50px;
    height: 20vh;
    width: 35vh;
  }

  .articlePostImagePLTW {
    height: 15vh;
    width: 30vh;
  }

  #articlePPKickoff {
    height: 435vh;
  }

  #articleCatFamDay {
    height: 300vh;
  }

  .instaEmbedCatFamDay {
    height: 100vh;
    width: auto;
    margin-left: -25px;
    margin-right: -25px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .articleWrapper {
    height: 300vh;
  }

  #articleEngineeringDay {
    height: 315vh;
  }

  #articleRobotMall {
    height: 280vh;
  }

  .articlePostImageMall {
    margin-left: 50px;
    height: 80vh;
    width: 120vh;
  }

  #articleTrailblazers {
    height: 375vh;
  }

  #articlePPKickoff {
    height: 505vh;
  }

  #articleCatFamDay {
    height: 380vh;
  }

  .instaEmbedCatFamDay {
    height: auto;
    width: 60%;
    margin-left: 3px;
  }

  iframe {
    width: 70%;
    height: 70vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .articleWrapper {
    height: 170vh;
    width: 80%;
  }

  #articleEngineeringDay {
    height: 180vh;
  }

  #articleRobotMall {
    height: 125vh;
  }

  #articleTrailblazers {
    height: 220vh;
  }

  #articlePPKickoff {
    height: 355vh;
  }

  #articleCatFamDay {
    height: 250vh;
  }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
  .articleWrapper {
    height: 170vh;
    width: 80%;
  }

  #articleEngineeringDay {
    height: 180vh;
  }

  #articleRobotMall {
    height: 125vh;
  }

  #articleTrailblazers {
    height: 220vh;
  }

  #articlePPKickoff {
    height: 355vh;
  }

  #articleCatFamDay {
    height: 250vh;
  }
}
