.cards {
  padding: 4rem;
  /* background: rgb(239, 244, 255); */
  /* background: rgb(34, 35, 46); */
  /* background: linear-gradient(
    180deg,
    rgb(255, 202, 153) 30%,
    rgb(255, 218, 218) 70%
  ); */
  background: linear-gradient(
    135deg,
    rgb(255, 206, 167) 30%,
    rgb(255, 200, 200) 70%
  );
}

.learn {
  text-align: center;
  margin-bottom: 17px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: rgba(255, 138, 167, 0.164);
}

/* .h1 {
  text-align: center;
  margin-bottom: 17px;
} */

.cards__container {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  max-width: 1520px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  margin: 0 1rem;

  /* margin: 0 1rem; */
}

.cards__item {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  /* margin-bottom: 2rem; */
  margin-bottom: 10px;
  background-color: #3e497036;
}

.cards__item:hover {
  /* box-shadow: 0 6px 20px rgba(184, 122, 40, 0.473); */
  box-shadow: 0 6px 20px rgba(121, 0, 0, 0.404);
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #58000fd8;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 87.5%;
  object-fit: contain;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.03);
}

.cards__item__info {
  padding: 20px 30px 30px;
  background-color: #ffbe44b2;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.486);
}

h5 {
  text-decoration: none;
}

#surveyForm {
  object-fit: cover;
}

#miscellaneous {
  margin-top: 17px;
}

#teamMembers {
  margin-top: 9px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.cards__item__text {
  color: #21273d;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none !important;
}

@media only screen and (min-width: 1400px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (max-width: 770px) {
  .cards__item {
    margin-left: 0px;
  }

  #miscellaneous {
    margin-top: 9px;
  }

  #teamMembers {
    margin-top: 9px;
  }

  .learn {
    font-size: 40px;
    -webkit-text-stroke-width: 8px;
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .cards__items {
    display: flex;
  }

  .cards__item__text {
    color: #21273d;
    font-size: 14px;
    line-height: 20px;
  }

  .cards__item__pic-wrap::after {
    padding: 6px 12px;
    max-width: calc((100%) - 45px);
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    background-color: #58000fd8;
    box-sizing: content-box;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
  .cards__items {
    display: flex;
  }
}
