:root {
  --main-radius: 5px;
  --main-padding: 10px;
}

.PPOutreachContainer {
  display: grid;
  /* height: 320vh; */
  height: 128vh;
  justify-content: center;
  /* background: rgb(239, 244, 255); */
  background-color: rgb(26, 27, 36);
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr; */
  grid-template-areas: "PPcontent";
  grid-gap: 0.2rem;
  /* font-weight: 800; */
  /* text-transform: uppercase; */
  font-size: 25px;
  text-align: center;
}

#PPcontent {
  background: linear-gradient(
    320deg,
    rgb(126, 182, 255) 10%,
    rgb(33, 40, 54) 0%
  );
  color: rgb(255, 255, 255);
  grid-area: PPContent;
  /* border-radius: var(--main-radius); */
  padding-top: 10px;
  box-shadow: 1px 0px 20px rgb(13, 13, 26);
  width: 100%;
  justify-self: center;
  height: 127vh;
}

#PP {
  color: rgb(46, 81, 194);
  font-size: 50px;
  background-color: white;
  background: linear-gradient(70deg, rgb(148, 173, 255), rgb(255, 255, 255));
  margin-top: 15px;
  box-shadow: 0px 2px 4px rgb(84, 132, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PParticlesContainer {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.PParticlePicture {
  margin-top: 15px;
  margin-right: 8px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background-color: rgb(61, 138, 206);
}

.PParticleCoverPictures {
  height: 16vh;
  width: 27vh;
  object-fit: fill;
  border-style: solid;
  border-color: rgb(59, 111, 255);
  border-width: 2px;
}

.PParticle {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 7px;
  background-color: rgba(56, 56, 56, 0.438);
  padding: 5px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 16vh;
  border-style: solid;
  border-color: rgba(212, 222, 255, 0.692);
  border-width: 2px;
}

.PParticleTitle {
  font-size: 30px;
  margin: 5px;
}

.PParticleTitle:hover {
  text-decoration: underline;
  color: rgb(154, 176, 197);
}

.PPOutreachLinks {
  color: white;
}

.PPOutreachLinks:hover {
  text-decoration: underline;
  color: rgb(154, 168, 197);
}

.PParticleDescription {
  font-size: 15px;
  font-weight: 600;
  margin: 15px;
  font-family: "Nexa", sans-serif;
}

.PPcredentials {
  font-size: 15px;
  margin: 15px;
  font-family: "Nexa", sans-serif;
  color: lightgray;
}

@media only screen and (max-width: 770px) {
  .PPOutreachContainer {
    font-size: 20px;
    grid-template-areas: "PPcontent";
    height: 110vh;
  }

  #PP {
    font-size: 35px;
  }

  #PPcontent {
    margin: 0px;
    width: 100%;
    height: 115vh;
  }

  .PParticle {
    height: 14vh;
  }

  .PParticleTitle {
    font-size: 11px;
    margin: 5px;
  }

  .PParticleDescription {
    font-size: 7px;
    margin: 10px;
  }

  .PPcredentials {
    font-size: 7px;
    margin: 5px;
  }

  .PParticleCoverPictures {
    height: 14vh;
    width: 18vh;
  }

  .PParticlePicture {
    height: 14vh;
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .PPOutreachContainer {
    height: 200vh;
  }

  #PPcontent {
    width: 100%;
  }

  #PPcontent {
    height: 204vh;
  }

  .PParticle {
    height: 24vh;
  }

  .PParticleTitle {
    font-size: 14px;
    margin: 5px;
  }

  .PParticleDescription {
    font-size: 9px;
    margin: 10px;
  }

  .PPcredentials {
    font-size: 9px;
    margin: 5px;
  }

  .PParticleCoverPictures {
    height: 24vh;
    width: 40vh;
  }

  .PParticlePicture {
    height: 24vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .PPOutreachContainer {
    height: 185vh;
  }

  #PPcontent {
    height: 184vh;
  }

  .PParticle {
    height: 24vh;
  }

  .PParticleTitle {
    font-size: 27px;
  }

  .PParticleDescription {
    font-size: 16px;
  }

  .PPcredentials {
    font-size: 16px;
  }

  .PParticleCoverPictures {
    height: 24vh;
    width: 40vh;
  }

  .PParticlePicture {
    height: 24vh;
  }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
  .PPOutreachContainer {
    height: 185vh;
  }

  #PPcontent {
    height: 184vh;
  }

  .PParticle {
    height: 24vh;
  }

  .PParticleTitle {
    font-size: 27px;
  }

  .PParticleDescription {
    font-size: 16px;
  }

  .PPcredentials {
    font-size: 16px;
  }

  .PParticleCoverPictures {
    height: 24vh;
    width: 40vh;
  }

  .PParticlePicture {
    height: 24vh;
  }
}
