* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.seasons,
.currentseason,
.teammembers,
.about,
.outreach,
.resources,
.awards {
  display: flex;
  /* height: 102vh; */
  height: 52vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* background-image: url('/src/images/img-1.jpg'); */

.seasons {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: rgb(30, 31, 41);
  font-size: 100px;
  text-align: center;
}

.currentseason {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: rgb(30, 31, 41);
  font-size: 100px;
  text-align: center;
}

.teammembers {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  background-color: rgb(30, 31, 41);
  text-align: center;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  background-color: rgb(30, 31, 41);
  text-align: center;
}

.outreach {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.resources {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.awards {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .seasons {
    font-size: 55px;
    text-align: center;
  }

  .currentseason {
    font-size: 65px;
    text-align: center;
  }

  .teammembers {
    font-size: 70px;
    text-align: center;
  }

  .about {
    font-size: 70px;
    text-align: center;
  }

  .outreach {
    font-size: 70px;
    text-align: center;
  }

  .resources {
    font-size: 60px;
    text-align: center;
  }

  .awards {
    font-size: 55px;
    text-align: center;
  }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  .currentseason {
    font-size: 60px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .outreach {
    font-size: 80px;
    text-align: center;
  }
}

/* @media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
} */
